@charset "UTF-8";
/*Обнуление*/
/*--------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:active {
  outline: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav {
  display: block;
}

footer {
  display: block;
}

header {
  display: block;
}

aside {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  font-family: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

h2 {
  font-size: inherit;
  font-weight: inherit;
}

h3 {
  font-size: inherit;
  font-weight: inherit;
}

h4 {
  font-size: inherit;
  font-weight: inherit;
}

h5 {
  font-size: inherit;
  font-weight: inherit;
}

h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper_active {
  -webkit-transform: translateX(-32%);
          transform: translateX(-32%);
}

.container {
  max-width: 1390px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title:after {
  content: '';
  display: block;
  width: 50px;
  height: 7px;
  border-radius: 3px;
  background-color: #fd749b;
  margin: 10px 0 0 0;
}

.button {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 17px 56px;
  border-radius: 100px;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button:before {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  border-radius: 100px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button:hover {
  color: #333333;
  background: #fff;
}

.button:hover:before {
  opacity: 1;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .button {
    padding: 10px 30px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 150px) and (max-width: 575px) {
  .wrapper_active {
    -webkit-transform: translateX(-59%);
            transform: translateX(-59%);
  }
}

.menu-burger {
  display: none;
  width: 30px;
  height: 21px;
  background-color: transparent;
  position: relative;
  z-index: 999;
}

.menu-burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-burger span:not(:first-child) {
  margin-top: 4px;
}

@media (max-width: 992px) {
  .menu-burger {
    display: block;
    margin: 0 0 0 10px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .menu-burger-active span {
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .menu-burger-active span:nth-child(2) {
    opacity: 0;
  }
  .menu-burger-active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }
  .menu-burger-active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 9px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 20px 0;
  z-index: 999;
}

.header__wrapper {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 145px;
  overflow: hidden;
  position: relative;
}

.header__logo img {
  width: 100%;
}

.header__nav {
  margin-left: auto;
}

.header__dropdown {
  position: relative;
  margin: 0 40px 0 0;
  margin-left: auto;
}

.header__btn {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
  background-color: transparent;
  padding: 0 12px 0 0;
  position: relative;
}

.header__btn:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 6px;
  background: url("../img/header/dropdown-arrow.png") no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__sell {
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  -webkit-transition: opacity 0.5s, top 0.8s, visibility 0.5s;
  transition: opacity 0.5s, top 0.8s, visibility 0.5s;
}

.header__sell_active {
  top: 30px;
  opacity: 1;
  visibility: visible;
}

.header__item {
  display: block;
  font-size: 12px;
  line-height: 18px;
  padding: 5px 10px;
  cursor: pointer;
}

.header__item:hover {
  color: #fff;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
}

@media (max-width: 992px) {
  .header {
    padding: 10px 0;
  }
  .header__wrapper {
    height: 35px;
  }
  .header__sell_active {
    top: 45px;
  }
}

@media (max-width: 576px) {
  .header__btn {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__item {
  padding: 0 0 5px 0;
}

.nav__item:not(:first-child) {
  margin-left: 70px;
}

.nav__item:after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #fd749b;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav__item:hover:after {
  width: 70%;
  opacity: 1;
  visibility: visible;
}

.nav__link {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
}

@media (max-width: 1200px) {
  .nav__item:not(:first-child) {
    margin-left: 30px;
  }
}

@media (max-width: 992px) {
  .nav {
    position: fixed;
    right: -33%;
    top: 0%;
    width: 33%;
    height: 100%;
    text-align: left;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    margin: 55px 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav_active {
    right: 0;
  }
  .nav__list {
    display: block;
  }
  .nav__item {
    padding: 0;
  }
  .nav__item:not(:first-child) {
    margin-left: 0;
  }
  .nav__item:after {
    content: '';
    display: none;
  }
  .nav__link {
    display: block;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    padding: 10px 0 10px 25px;
  }
  .nav__link:hover {
    color: #333333;
    background: #fff;
  }
}

@media (min-width: 150px) and (max-width: 575px) {
  .nav {
    right: -60%;
    width: 60%;
  }
  .nav_active {
    right: 0;
  }
}

.hero {
  padding: 60px 0 0 0;
  margin: 95px 0 0 0;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  position: relative;
}

.hero:after {
  content: '';
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/hero/white-bg.png") no-repeat center/cover;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.hero__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.hero__img img {
  width: 100%;
}

.hero__title {
  max-width: 530px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  margin: 0 0 20px 0;
}

.hero__title span {
  font-weight: 700;
}

.hero__subtitle {
  max-width: 460px;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin: 0 0 30px 0;
}

.hero__btn {
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  padding: 17px 32px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hero__btn:hover {
  background: #da67a3;
}

.hero__btn:hover .hero__link {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__link {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 992px) {
  .hero {
    margin: 40px 0 0 0;
  }
  .hero:after {
    content: '';
    height: 110px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (max-width: 768px) {
  .hero__text, .hero__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .hero__img {
    text-align: center;
  }
  .hero__img img {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .hero__text, .hero__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .hero__text {
    margin: 0 0 15px 0;
  }
  .hero__img {
    display: none;
  }
}

@media (min-width: 150px) and (max-width: 576px) {
  .hero {
    text-align: center;
  }
  .hero__title {
    font-size: 24px;
    line-height: 36px;
  }
  .hero__subtitle {
    font-size: 16px;
    line-height: 21px;
  }
  .hero__btn {
    padding: 15px 25px;
  }
  .hero__link {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
  }
}

.welcome {
  margin: 0 0 1px 0;
}

.welcome__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.welcome__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.welcome__img img {
  width: 100%;
}

.welcome__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 540px;
}

.welcome__title {
  margin: 0 0 45px 0;
}

.welcome__text {
  font-size: 16px;
  line-height: 40px;
  color: #333333;
  margin: 0 0 35px 0;
}

.welcome__link {
  display: inline-block;
}

@media (max-width: 992px) {
  .welcome__title {
    margin: 0 0 30px 0;
  }
  .welcome__text {
    line-height: 32px;
  }
}

@media (max-width: 768px) {
  .welcome__body {
    margin: 0 0 30px 0;
  }
  .welcome__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .welcome__img img {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .welcome__body {
    max-width: 100%;
  }
  .welcome__img {
    display: none;
  }
}

.table-values {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
}

.table-values:before {
  content: '';
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/hero/white-bg.png") no-repeat left top/cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.table-values:after {
  content: '';
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/hero/white-bg.png") no-repeat left bottom/cover;
}

.table-values__row {
  max-width: 1158px;
  margin: 40px auto;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
}

.table-values__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.table-values__title {
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #BBBBBB;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

.table-values .center {
  text-align: center;
}

.table-values .right {
  text-align: right;
}

.table-values__btn {
  display: block;
  font-size: 8px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  padding: 6px 9px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.table-values .hidden {
  opacity: 0;
}

.table-values__item {
  max-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-values__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 50px 0;
}

.table-values__currency, .table-values__rate p, .table-values__transfer {
  font-size: 14px;
  color: #333333;
}

.table-values__currency {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-values__currency p {
  margin: 0 0 0 15px;
}

.table-values__rate {
  text-align: right;
}

.table-values__rate p:not(:last-child) {
  margin: 0 0 25px 0;
}

.table-values__rate p span {
  font-weight: 700;
}

.table-values__transfer {
  margin: 0 0 30px 0;
}

.table-values__transfer:not(:last-child) {
  border-bottom: 1px solid #BBBBBB;
}

.table-values__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px 0;
}

.table-values__info img {
  margin: 0 5px;
}

.table-values__details {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-values__details img {
  margin: 0 15px;
}

.table-values__details span {
  font-weight: 700;
}

@media (max-width: 1100px) {
  .table-values__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .table-values__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .table-values .center {
    text-align: right;
  }
  .table-values .right {
    text-align: center;
  }
  .table-values .item-right {
    margin-left: auto;
  }
}

@media (max-width: 992px) {
  .table-values:before {
    content: '';
    height: 110px;
  }
  .table-values:after {
    content: '';
    height: 110px;
  }
}

@media (max-width: 768px) {
  .table-values__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .table-values__item {
    margin: 0 auto;
  }
  .table-values__title, .table-values .center {
    text-align: center;
  }
  .table-values__body {
    margin: 0 0 30px 0;
  }
  .table-values__rate p:not(:last-child) {
    margin: 0 0 15px 0;
  }
}

.experience {
  padding: 0 0 115px 0;
}

.experience__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1111px;
  margin: 0 auto;
}

.experience__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 540px;
}

.experience__title {
  margin: 0 0 45px 0;
}

.experience__text {
  font-size: 16px;
  line-height: 40px;
  color: #333333;
  margin: 0 0 35px 0;
}

.experience__link {
  display: inline-block;
}

.experience__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.experience__img img {
  width: 100%;
}

@media (max-width: 992px) {
  .experience {
    padding: 0 0 80px 0;
  }
  .experience__title {
    margin: 0 0 30px 0;
  }
  .experience__text {
    line-height: 32px;
  }
}

@media (max-width: 768px) {
  .experience__body {
    margin: 0 0 30px 0;
  }
  .experience__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .experience__img img {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .experience__body {
    max-width: 100%;
  }
  .experience__img {
    display: none;
  }
}

.trade {
  padding: 120px 0 0 0;
  margin: 0 0 150px 0;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  position: relative;
  z-index: 0;
}

.trade:after {
  content: '';
  display: block;
  width: 100%;
  height: 50%;
  background: url("../img/hero/white-bg.png") no-repeat left bottom/cover;
  position: absolute;
  left: 0;
  bottom: 0;
}

.trade__row {
  max-width: 980px;
  margin: 0 auto;
  padding: 75px;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

.trade__title {
  margin: 0 0 60px 0;
}

.trade__title:after {
  margin: 10px auto 0 auto;
}

.trade__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -30px;
}

.trade__card {
  position: relative;
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
  height: 226px;
  padding: 60px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  margin: 0 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.trade__card:hover {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
}

.trade__card:hover .trade__image, .trade__card:hover .trade__text {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.trade__card:before {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  border-radius: 15px;
  z-index: -1;
}

.trade__image {
  width: 60px;
  height: 60px;
  margin: 0 auto 35px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.trade__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 992px) {
  .trade {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 768px) {
  .trade__cards {
    margin: 0;
  }
  .trade__card {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .trade__row {
    padding: 30px;
  }
}

.blog__title {
  text-align: center;
  margin: 0 0 50px 0;
}

.blog__title:after {
  margin: 10px auto 0 auto;
}

.blog__subtitle {
  font-size: 16px;
  line-height: 40px;
  color: #333333;
  text-align: center;
  margin: 0 0 50px 0;
}

.blog__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.blog__card {
  margin: 0 10px 20px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #888888;
  border-radius: 15px;
  border: 1px solid #888888;
  background: #fff;
  padding: 30px 50px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog__card:before {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  border-radius: 15px;
  z-index: -1;
}

.blog__card:hover {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
  border: none;
}

.blog__card:hover .blog__date, .blog__card:hover .blog__text {
  color: #333333;
}

.blog__card:hover .blog__month {
  border-right: 1px solid #333333;
}

.blog__card:hover .blog__name {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog__card:hover .blog__link {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
}

.blog__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.blog__month {
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  border-right: 1px solid #888888;
}

.blog__name {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.blog__text {
  font-size: 10px;
  line-height: 18px;
  margin: 0 0 10px 0;
}

.blog__link {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
  font-size: 9px;
  line-height: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 11px 22px;
  border-radius: 100px;
  background: #888888;
}

@media (max-width: 992px) {
  .blog__date, .blog__text {
    color: #333333;
  }
  .blog__month {
    border-right: 1px solid #333333;
  }
  .blog__name {
    font-size: 24px;
    line-height: 39px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blog__text {
    font-size: 12px;
    line-height: 28px;
  }
  .blog__link {
    font-size: 11px;
    line-height: 16px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  }
}

@media (max-width: 576px) {
  .blog__title, .blog__subtitle {
    margin: 0 0 10px 0;
  }
  .blog__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
    padding: 20px 40px;
  }
  .blog__name {
    font-size: 18px;
    line-height: 24px;
  }
  .blog__text {
    line-height: 18px;
  }
}

.satisfied {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
}

.satisfied:before {
  content: '';
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/hero/white-bg.png") no-repeat left top/cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 0 0 130px 0;
}

.satisfied:after {
  content: '';
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/hero/white-bg.png") no-repeat left bottom/cover;
  margin: 130px 0 0 0;
}

.satisfied__row {
  position: relative;
}

.satisfied__left-buble {
  position: absolute;
  left: 0;
  top: -15%;
}

.satisfied__right-buble {
  position: absolute;
  right: 0;
  bottom: -15%;
}

.satisfied__title {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  text-align: center;
  margin: 0 0 45px 0;
}

.satisfied__title:after {
  margin: 10px auto 0 auto;
}

.satisfied__subtitle {
  max-width: 542px;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  margin: 0 auto 30px auto;
}

.satisfied__body {
  position: relative;
}

.satisfied__bubles {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.satisfied__message {
  position: absolute;
  bottom: 20%;
  right: 50%;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  display: inline-block;
  border-radius: 15px;
  padding: 17px;
  background: rgba(255, 255, 255, 0.5);
}

.satisfied__message:after {
  content: '';
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 15px solid transparent;
  border-right: 25px solid rgba(255, 255, 255, 0.5);
}

.satisfied__logo {
  position: absolute;
  top: 17px;
  right: 17px;
}

.satisfied__name {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin: 0 0 5px 0;
}

.satisfied__comment {
  font-size: 12px;
  line-height: 20px;
  color: #333333;
}

.satisfied__comment span {
  font-weight: 700;
}

@media (max-width: 992px) {
  .satisfied:after, .satisfied:before {
    content: '';
    height: 110px;
  }
}

@media (max-width: 768px) {
  .satisfied__left-buble, .satisfied__right-buble {
    display: none;
  }
  .satisfied__message {
    padding: 10px;
  }
  .satisfied__message:after {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border: 10px solid transparent;
    border-right: 20px solid rgba(255, 255, 255, 0.5);
  }
  .satisfied__name {
    font-size: 12px;
    line-height: 16px;
  }
  .satisfied__comment {
    font-size: 10px;
    line-height: 18px;
  }
}

@media (max-width: 576px) {
  .satisfied:before {
    margin: 0 0 40px 0;
  }
  .satisfied__message {
    bottom: 0;
    -webkit-transform: translate(50%, 100%);
            transform: translate(50%, 100%);
  }
  .satisfied__logo {
    top: 5px;
    right: 5px;
  }
  .satisfied__name {
    font-size: 10px;
    line-height: 14px;
  }
  .satisfied__rating {
    margin: 0 0 5px 0;
  }
  .satisfied__comment {
    font-size: 9px;
    line-height: 12px;
  }
}

.download {
  position: relative;
}

.download__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.download__title {
  margin: 0 0 50px 0;
}

.download__title:after {
  margin: 10px auto 0 auto;
}

.download__subtitle {
  max-width: 378px;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
  margin: 0 0 40px 0;
}

.download__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download__link:not(:last-child) {
  margin: 0 10px 0 0;
}

@media (max-width: 576px) {
  .download__title {
    margin: 0 0 20px 0;
  }
  .download__subtitle {
    margin: 0 0 20px 0;
    line-height: 21px;
  }
}

.mobile {
  position: relative;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
}

.mobile:before {
  content: '';
  display: block;
  width: 100%;
  height: 195px;
  background: url("../img/hero/white-bg.png") no-repeat left top/cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mobile:after {
  content: '';
  display: block;
  width: 100%;
  height: 20%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.mobile__buble {
  position: absolute;
  left: 10%;
  bottom: 40%;
}

.mobile__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
}

.mobile__phone {
  position: relative;
  margin: 20px 10px 0 10px;
  z-index: 2;
}

.mobile__phone img {
  width: 100%;
}

@media (max-width: 768px) {
  .mobile__buble {
    display: none;
  }
  .mobile__phone {
    width: 190px;
    margin: 0 10px;
  }
}

@media (max-width: 576px) {
  .mobile__phone {
    width: 140px;
  }
}

.subscribe {
  padding: 90px 0;
  text-align: center;
}

.subscribe__title {
  margin: 0 0 50px 0;
}

.subscribe__title:after {
  margin: 10px auto 0 auto;
}

.subscribe__subtitle {
  max-width: 380px;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
  margin: 0 auto 50px auto;
}

.subscribe__input {
  width: 388px;
  border: 1px solid #FD749B;
  border-radius: 100px;
  padding: 17px;
  margin: 0 10px 0 0;
  position: relative;
}

.subscribe__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.subscribe__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.subscribe__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.subscribe__input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .subscribe__input {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .subscribe__title {
    margin: 0 0 30px 0;
  }
  .subscribe__subtitle {
    line-height: 28px;
    color: #333333;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 576px) {
  .subscribe__input {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
/*# sourceMappingURL=main.css.map */