body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.wrapper {
  margin: 95px 0 0 0;
  transition: all 0.5s;
  &_active {
    transform: translateX(-32%);
  }
}
.container {
  max-width: 1390px;
  padding: 0 10px;
  margin: 0 auto;
}
.title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  background: $main-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:after {
    content: '';
    display: block;
    width: 50px;
    height: 7px;
    border-radius: 3px;
    background-color: #fd749b;
    margin: 10px 0 0 0;
  }
}

.button {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $secondary;
  padding: 17px 56px;
  border-radius: 100px;
  background: $main-gradient;
  position: relative;
  transition: all 0.5s;
  &:before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: $main-gradient;
    border-radius: 100px;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
  }
  &:hover {
    color: $default;
    background: $secondary;
    &:before {
      opacity: 1;
    }
  }
}




@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .wrapper {
    margin: 40px 0 0 0;
  }
  .button {
    padding: 10px 30px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 150px) and (max-width: 575px) {
    .wrapper {
      &_active {
        transform: translateX(-59%);
      }
    }
 }