.table-values {
  background: $main-gradient;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 195px;
    background: url('../img/hero/white-bg.png') no-repeat left top / cover;
    transform: rotate(180deg);
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 195px;
    background: url('../img/hero/white-bg.png') no-repeat left bottom / cover;    
  }
  &__row {
    max-width: 1158px;
    margin: 40px auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 30px;
    background: $secondary;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
  }
  &__column {
    flex: 0 0 33.333%;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    background: $main-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #BBBBBB;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  &__btn {
    display: block;
    font-size: 8px;
    font-weight: 700;
    color: $secondary;
    border-radius: 5px;
    background: $main-gradient;
    padding: 6px 9px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .hidden {
    opacity: 0;
  }
  &__item {
    max-width: 290px;
    display: flex;
    flex-direction: column;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;
  }
  &__currency, &__rate p, &__transfer {
    font-size: 14px;
    color: $default;
  }
  &__currency {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0 0 0 15px;
    }
  }
  &__rate {
    text-align: right;
    // margin: 0 0 50px 0;
    p {
      &:not(:last-child) {
        margin: 0 0 25px 0;
      }
      span {
        font-weight: 700;
      }
    }
  }
  &__transfer {
    margin: 0 0 30px 0;
    &:not(:last-child) {
      border-bottom: 1px solid #BBBBBB;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
    img {
      margin: 0 5px;
    }
  }
  &__details {
    margin: 30px 0;
    display: flex;
    img {
      margin: 0 15px;
    }
    span {
      font-weight: 700;
    }
  }
}


@media (max-width: 1100px) {
  .table-values {
    &__row {
      justify-content: center;
    }
    &__column {
      flex: 0 0 50%;
    }
    .center {
      text-align: right;
    }
    .right {
      text-align: center;
    }
    .item-right {
      margin-left: auto;
    }
  }
}

@media (max-width: 992px) {
  .table-values {
    &:before {
      content: '';
      height: 110px;  
    }
    &:after {
      content: '';
      height: 110px; 
    }
  }
}

@media (max-width: 768px) {
  .table-values {
    &__column {
      flex: 0 0 100%;
    }
    &__item {
      margin: 0 auto;
    }
    &__title, .center {
      text-align: center;
    }
    &__body {
      margin: 0 0 30px 0;
    }
    &__rate {
      p {
        &:not(:last-child) {
          margin: 0 0 15px 0;
        }
      }
    }
  }
}